In [34]:
from datetime import datetime
from models.Payload import RegPayload, SecPayload
from models.Source import DataSource

#data
DATE = datetime(year=2024,month=8,day=2,hour=12)
sec = DataSource()
sec.request('affected_detail',SecPayload(date=DATE))
df=sec.dataframe()
df[df['NOMBRE_REGION']=='Valparaiso'].sort_values(by=['FECHA_INT_STR'],ascending=False)

,DIA_INT,MES_INT,ANHO_INT,HORA,DIA,MES,ANHO,NOMBRE_REGION,NOMBRE_COMUNA,NOMBRE_EMPRESA,CLIENTES_AFECTADOS,ACTUALIZADO_HACE,FECHA_INT_STR
807,8,2,2024,0,0,0,0,Valparaiso,Viña del Mar,CHILQUINTA,155,5 Dias 0 Horas 8 Minutos,8/2/2024
331,8,2,2024,0,0,0,0,Valparaiso,Quilpue,CHILQUINTA,36,5 Dias 0 Horas 8 Minutos,8/2/2024
8927,2,8,2024,0,0,0,0,Valparaiso,Limache,CHILQUINTA,66,5 Dias 0 Horas 8 Minutos,2/8/2024
4250,2,8,2024,0,0,0,0,Valparaiso,San Felipe,CHILQUINTA,89,5 Dias 0 Horas 8 Minutos,2/8/2024
3992,2,8,2024,0,0,0,0,Valparaiso,Olmue,CHILQUINTA,2,5 Dias 0 Horas 8 Minutos,2/8/2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3982,1,8,2024,0,0,0,0,Valparaiso,El Quisco,LITORAL,257,5 Dias 0 Horas 8 Minutos,1/8/2024
3781,1,8,2024,0,0,0,0,Valparaiso,Cartagena,LITORAL,2,5 Dias 0 Horas 8 Minutos,1/8/2024
3769,1,8,2024,0,0,0,0,Valparaiso,Putaendo,CHILQUINTA,8,5 Dias 0 Horas 8 Minutos,1/8/2024
3705,1,8,2024,0,0,0,0,Valparaiso,El Tabo,LITORAL,3,5 Dias 0 Horas 8 Minutos,1/8/2024
4454,1,8,2024,0,0,0,0,Valparaiso,San Felipe,CHILQUINTA,71,5 Dias 0 Horas 8 Minutos,1/8/2024

In [43]:
df[df['NOMBRE_REGION']=='Valparaiso']['CLIENTES_AFECTADOS'].sum()

50447