In [32]:
from datetime import datetime
from models.Payload import RegPayload, SecPayload
from models.Source import DataSource

#data
DATE = datetime(year=2024,month=8,day=7,hour=12)
sec = DataSource()
sec.request('affected_detail',SecPayload(date=DATE))
df=sec.dataframe()
df[df['DIA_INT']==7].sort_values(by=['FECHA_INT_STR'],ascending=False)

,DIA_INT,MES_INT,ANHO_INT,HORA,DIA,MES,ANHO,NOMBRE_REGION,NOMBRE_COMUNA,NOMBRE_EMPRESA,CLIENTES_AFECTADOS,ACTUALIZADO_HACE,FECHA_INT_STR
0,7,8,2024,0,0,0,0,Metropolitana,Maipu,ENEL,1,0 Dias 0 Horas 13 Minutos,7/8/2024
5609,7,8,2024,0,0,0,0,Metropolitana,La Florida,ENEL,1,0 Dias 0 Horas 13 Minutos,7/8/2024
5640,7,8,2024,0,0,0,0,Metropolitana,Conchali,ENEL,831,0 Dias 0 Horas 13 Minutos,7/8/2024
5639,7,8,2024,0,0,0,0,Biobio,Coronel,CGE,1,0 Dias 0 Horas 8 Minutos,7/8/2024
5632,7,8,2024,0,0,0,0,La Araucania,Villarrica,CGE,1,0 Dias 0 Horas 8 Minutos,7/8/2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2713,7,8,2024,0,0,0,0,Metropolitana,Maipu,ENEL,1,0 Dias 0 Horas 13 Minutos,7/8/2024
2708,7,8,2024,0,0,0,0,Biobio,San Pedro de la Paz,CGE,1,0 Dias 0 Horas 8 Minutos,7/8/2024
2706,7,8,2024,0,0,0,0,Biobio,Penco,CGE,1,0 Dias 0 Horas 8 Minutos,7/8/2024
2702,7,8,2024,0,0,0,0,Los Lagos,Purranque,LUZOSORNO,1,0 Dias 0 Horas 8 Minutos,7/8/2024
8394,7,8,2024,0,0,0,0,Metropolitana,Ñuñoa,ENEL,1,0 Dias 0 Horas 13 Minutos,7/8/2024